*{ 
    margin: 0;
    padding: 0;
}

header {
    background: rgb(88, 90, 90);
    height: 7vh;
}

header a {
    margin: 30px 16px 5px 16px;
}

header a:hover {
    color: rgb(72, 74, 76);
    opacity: .6;
}

.presentation {
    margin: 3em 4em;
}

.presentation p {
    max-width: 60%;
    font-size: 1em;
    font-family: sans-serif;
    margin-bottom: 27%;
}
.presentation img {
    float: right;
    margin-right: 45px;
    
}

.languages h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    margin: 1em 2em;
}

.languages-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }

.languages-row img {
    margin: 0 5vw 5vh 0;
}

.hobbies {
    text-align: center;
    font-family: sans-serif;
}

.hobbies img {
    margin: 5vh 5vw
}

.hobbies h4 {
    display: inline;
    text-align: center;
}

.contact-form {
    text-align: center;
    background: #141458;
    font-family: sans-serif;
    padding: 3em;
    color: #ffffff
}

.contact-form h2{
    margin-bottom: 1em;
}

.contact-form input {
    margin: 1em;
    width: 20em;
    text-align: center;
    border-radius: 5px;
    height: 2em;
    width: 25vw;
}

.contact-form textarea {
    width: 25vw;
    height: 12em;
    resize: none;
    margin: 1em;
    border-radius: 5px;
}

.contact-form button {
    width: 10vw;
    height: 4vh;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
}

footer {
    background-color: #000;
    color: #ffffff;
    padding: 1em 1em;
    font-family: sans-serif;
}

footer img {
    margin: 13px 1em 13px 0;
}